<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAD3mu0a28V57kDwhE9xEUaF8DC_qylJWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>819519526923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.justiceBridge.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>justicebridge01-eaab1</string>
	<key>STORAGE_BUCKET</key>
	<string>justicebridge01-eaab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819519526923:ios:6e04aa915d537ffb5f8f0e</string>
</dict>
</plist>